* {
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
}
/*.infomob{
	display: none;	
}*/
nav a {
  color: #9aacc5;
}
.header {
  height: 4.5rem;
  background: #0f132a;
}
.header-content .rait {
  padding-right: 2rem;
}
.header-content__findbtn {
  margin-top: 1rem;
  background: transparent	;
  border: 1px solid #d6e8ff;
  border-radius: 100rem;
}
.header-content__findbtn i {
  color: #D6E8FF;
}
.header-content__find {
  font-size: 1em ;
}
.header-content__find button {
  border: none;
  height: 2rem;
  width: 2rem;
}
.header-content__find button i {
  margin-top: 5px;
  font-size: 1.6rem;
  color: #d6e8ff;
}
.header-content__logo img {
  margin-top: 0.5rem;
  width: 9rem;
}
.header-content__nav nav {
  margin-top: 1.3rem;
  padding-left: 5rem;
  display: inline-block;
}
.header-content__nav nav a {
  padding-right: 0.6rem;
  font-size: 16px;
}
.header-content__carticon img {
  padding-top: 5px;
  margin-right: 1rem;
  height: 4rem;
}
.header-content__phone {
  float: right;
}
.header-content__phone a {
  font-size: 16px;
  outline: none;
  margin-top: 0.4rem;
  display: block;
  color: #FF8739;
}
.header-content .header-carticon {
  text-align: right;
}
.header-content .header-carticon__btn {
  margin-top: 12px;
  background: transparent	;
  border: 1px solid #d6e8ff;
  border-radius: 100rem;
  height: 3rem;
  width: 3rem;
}
.header-content .header-carticon__btn i {
  font-size: 1.5rem;
}
.main {
  color: #ffffff;
  height: 22em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/main.jpg) top no-repeat;
}
.main__text h1 {
  font-size: 54px;
  font-weight: 600;
  margin-top: 5rem;
}
.main__text p {
  font-size: 18px;
}
.main__list {
  margin-top: 2rem !important;
}
.main__list-item {
  margin-bottom: 2.5rem;
}
.main__list-item img {
  display: inline-block;
  height: 3rem;
}
.main__list-item li {
  font-size: 1.2rem;
  display: inline-block;
}
.categories {
  text-align: center;
  background-color: #0f132a;
}
.categories__title {
  margin: 3rem 0 !important;
}
.categories__item {
  border-radius: 1em;
  margin: 0 auto;
  color: white;
  margin-bottom: 5rem;
  height: 13rem;
  width: 18rem;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: transform 10s linear;
}
.categories__item:hover {
  border-radius: 1em;
  margin: 0 auto;
  color: white;
  margin-bottom: 4rem;
  height: 14rem;
  width: 19rem;
  justify-content: center;
  display: flex;
  align-items: center;
}
.categories .sushi {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/sushi.jpg) center no-repeat;
  background-size: cover;
}
.categories .rolli {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/rolli.jpg) center no-repeat;
  background-size: cover;
}
.categories .burger {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/burger.jpg) center no-repeat;
  background-size: cover;
}
.categories .pizza {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/pizza.jpg) center no-repeat;
  background-size: cover;
}
.categories .gorblud {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bluda.jpg) center no-repeat;
  background-size: cover;
}
.categories .zakuzki {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/zakuzki.jpg) center no-repeat;
  background-size: cover;
}
.categories .deserti {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/deserti.jpg) center no-repeat;
  background-size: cover;
}
.categories .salati {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/salat.jpg) center no-repeat;
  background-size: cover;
}
.categories .sousi {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/sousi.jpg) center no-repeat;
  background-size: cover;
}
.motivac {
  height: 20em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/motivac.jpg) center no-repeat;
  justify-content: center;
  display: flex;
  background-size: cover;
  align-items: center;
}
.motivac___text {
  background-size: cover;
}
.motivac___text p {
  font-size: 50px;
}
.info {
  padding-top: 3em;
  height: 26rem;
  background-color: #0f132a;
  text-align: center;
}
.info-comp h3 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
  display: block;
  float: right;
}
.info-comp p {
  text-align: right;
}
.info-dost h3 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
  display: block;
  float: left;
}
.info-dost p {
  text-align: left;
}
.accordion button {
  background-color: #02061D;
  color: #FFF;
  text-align: center;
}
.accordion-button:not(.collapsed) {
  background-color: #02061D !important;
  color: #FFF !important;
}
.accordion-body {
  background-color: #02061D;
}
/*Страница роллов*/
.menunav {
  background-color: #0f132a;
}
.menunav-cont {
  height: 3.7rem;
  border-top: 1px solid #9aacc5;
  border-bottom: 1px solid #9aacc5;
}
.menunav-cont nav {
  padding-top: 0.8em;
}
.menunav-cont nav a {
  color: #9aacc5;
  text-decoration: none;
  border-bottom: 1px solid #9aacc5;
  margin-right: 1.5rem;
}
.menunav-cont button {
  margin-top: 0.3em;
  background: transparent	;
  border: 1px solid #d6e8ff;
  border-radius: 100rem;
  height: 3rem;
  width: 3rem;
}
.menunav-cont button i {
  font-size: 1.5rem;
  color: #D6E8FF;
}
.menu {
  padding: 0.8rem 0;
  background-color: #0f132a;
}
.menu__mininav {
  padding-top: 1rem;
  height: 4rem;
}
.menu__mininav a {
  text-decoration: none;
  border-bottom: 1px solid #FF8739;
  color: #FF8739;
  margin-right: 1.2rem;
}
.menu__title {
  text-align: center;
  padding-bottom: 2rem;
}
.menu__item {
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.95em;
  width: 344px ;
  height: 455px;
  background-color: transparent;
  border: 1px solid #4B4F56;
  margin-bottom: 1.5rem;
}
.menu__item img {
  border-radius: 0.95em;
  width: 344px;
  margin-bottom: 0.5rem;
}
.menu__item h4 {
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  color: #cddff7;
}
.menu__item p {
  font-weight: 300;
  color: #9ea5af;
  font-size: 15px;
  line-height: 1.2;
}
.menu__item .menu__footer {
  position: absolute;
  bottom: 10px;
  padding: 0 10px;
}
.menu__item .menu__footer span {
  color: #E1E8F2;
  display: inline-block;
}
.menu__item .menu__footer .weight {
  color: #E1E8F2;
  font-size: 15px;
}
.menu__item .menu__footer .price {
  color: #E1E8F2;
  text-align: center ;
  font-size: 24px;
  margin-right: 21px;
  display: inline-block;
}
.menu__item .menu__footer .price span.r {
  font-size: 24px;
}
.menu__item .menu__footer button {
  height: 36px;
  width: 20rem;
  background: transparent;
  border: 2px solid #eb691b;
  border-radius: 0.8rem;
  color: #E1E8F2;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.menu__item .menu__footer button:hover {
  border: none;
  background: #eb691b;
}
.footer {
  background-color: #00041B;
  height: 4rem;
  color: #fff;
}
.footer__name h6 {
  color: #AFAFAF;
  padding-top: 8px;
  font-weight: 300;
}
.footer__name span {
  color: #AFAFAF;
  display: inline-block;
  font-weight: 300;
}
.footer__tel {
  text-align: center;
}
.footer__tel a {
  color: #AFAFAF;
  padding-top: 0.6rem;
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
}
.footer__tel span {
  color: #FF8739;
}
@media (max-width: 992px) {
  .header-content__carticon img {
    margin: 0;
  }
  .header-content__nav nav {
    padding-left: 0rem;
  }
}
@media (max-width: 800px) {
  .header-content__find {
    display: none;
  }
  .header-content__carticon img {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .accordion {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-content__carticon {
    display: none;
  }
  .main__text h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .info {
    display: none;
  }
}
@media (min-width: 576px) {
  .header-carticon {
    display: none;
  }
}
@media (max-width: 576px) {
  .header {
    position: relative;
  }
  .header-content__phone {
    display: none;
  }
  .header-content__nav {
    display: none;
  }
  .header-content__logo {
    position: absolute;
    left: 25%;
  }
  .header-content .header-carticon {
    position: absolute;
    right: 3%;
  }
  .main {
    height: 25em;
  }
  .main__text {
    text-align: center;
  }
  .main__text h1 {
    font-size: 2rem;
  }
  .main__list {
    margin-top: 0 !important;
  }
  .main__list-item {
    margin-bottom: 1rem;
  }
  .main__list-item br {
    display: none;
  }
  .categories {
    padding-bottom: 1rem;
  }
  .categories__title {
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .categories__item {
    height: 9rem;
    margin-bottom: 1rem;
  }
  .menunav-nav nav {
    text-align: center;
    padding-top: 4px;
  }
  .menunav-nav nav a {
    margin-right: 10px;
  }
  .menunav-carticon {
    display: none;
  }
  .menu__mininav {
    padding-top: 0;
    height: 2rem;
    margin-bottom: 1rem;
  }
  .menu__mininav nav a {
    margin-right: 10px;
  }
  .menu__item {
    margin-bottom: 3rem;
    height: 500px;
    width: 100%;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-radius: 0;
    border-bottom: 2px dashed  #4B4F56 ;
  }
  .menu .menu__footer {
    padding: 0 auto;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
  }
  .menu .menu__footer .price {
    margin-right: 35px;
  }
}
@media (max-width: 365px) {
  .menu__mininav a {
    font-size: 15px;
  }
  .menu__item img {
    width: 295px;
  }
  .menu__item .menu__footer {
    padding: 0;
  }
  .menu__item .menu__footer button {
    width: 16rem;
  }
  .menunav nav a {
    font-size: 15px;
  }
}
