@bg-color:#0F132A;
@btn-color:#EB691B;
@light:#fff;
@nav-color:#9AACC5;
@icon-color:#D6E8FF;
@h-color:#CDDFF7;
@p-color:#9ea5af;
*{
 	font-family: "Roboto Condensed", sans-serif;
	color:@light;
}
/*.infomob{
	display: none;	
}*/
nav{
	a{
	color:@nav-color;
	
	}
}

.header{
	
	height: 4.5rem;
	background:@bg-color;
	&-content{
			
		&__findbtn{
			margin-top: 1rem;
			background: transparent	;	 
			border:1px solid @icon-color;
			border-radius: 100rem;	

			i{
				color:#D6E8FF;
			}

		}
		&__find{
			font-size: 1em ;	
			button{
				border:none;
				height: 2rem;
				width: 2rem;	
				i{
					margin-top: 5px;
					font-size: 1.6rem;
					color:@icon-color;
				}
			}
		}

		&__logo{
			img{
				margin-top: 0.5rem;
				width:9rem;
			}		
		}
		&__nav{

			nav{
				margin-top: 1.3rem;
				padding-left: 5rem;
				display: inline-block;	
				a{
					padding-right: 0.6rem;
					font-size: 16px;
				}
			}
		}
		&__carticon{
			img{
				padding-top: 5px;
				margin-right: 1rem;
				height: 4rem;
			}
		}
		&__phone{
			float: right;
			a{	
				font-size: 16px;
			 	outline:none;
				margin-top: 0.4rem;
				display:block;
				color: #FF8739;
			}
		}
	.header-carticon{
		text-align: right;	
	}
	.header-carticon__btn{
		margin-top: 12px;

		background: transparent	;	 
		border:1px solid @icon-color;
		border-radius: 100rem;	
		height: 3rem;
		width: 3rem;
		i{
			font-size: 1.5rem;
		}
	}	
	}
}
.main{
	color:@light;

	height:22em;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/main.jpg) top no-repeat;
	&__text{
   		h1{
   			font-size: 54px;
   			font-weight: 600;
   			margin-top: 5rem;
   		}
   		p{
   			font-size: 18px;
   		}
	}
	&__list{
		margin-top: 2rem !important;
		&-item{
			margin-bottom: 2.5rem;
			img{
				display: inline-block;
				height: 3rem;
			}
			li{
				font-size: 1.2rem;
				display: inline-block;
			}
		}
	}
}
.categories{

	text-align: center;
	background-color:@bg-color;
	&__title{
		margin:3rem 0 !important;
	}

	&__item{ 
		border-radius: 1em;
		margin: 0 auto;
		color:white;
		margin-bottom: 5rem;
	    height: 13rem;
		width: 18rem;
		justify-content: center;
		display: flex;
		align-items:center;
		transition: transform 10s linear;
		
	}	
	&__item:hover{ 
		border-radius: 1em;
		margin: 0 auto;
		color:white;
		margin-bottom: 4rem;
	    height: 14rem;
		width: 19rem;
		justify-content: center;
		display: flex;
		align-items:center;	

	}
		.sushi{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/sushi.jpg) center no-repeat;
			background-size: cover;	

		}
		.rolli{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/rolli.jpg) center no-repeat;
			background-size: cover;	

		}
		.burger{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/burger.jpg) center no-repeat;
			background-size: cover;	

		}
		.pizza{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/pizza.jpg) center no-repeat;
			background-size: cover;	

		}
		.gorblud{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/bluda.jpg) center no-repeat ;
			background-size: cover;	

		}
		.zakuzki{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/zakuzki.jpg) center no-repeat ;
			background-size: cover;	

		}
		.deserti{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/deserti.jpg) center no-repeat ;
			background-size: cover;	

		}
		.salati{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/salat.jpg) center no-repeat ;
			background-size: cover;	
		}
		.sousi{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/sousi.jpg) center no-repeat ;
		    background-size: cover;	

		}


		h2{

		}
}
.motivac{
			background-size: cover;	
	height: 20em;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(../img/motivac.jpg) center no-repeat;
	background-size: cover;
	justify-content: center;
	display: flex;
			background-size: cover;	
	align-items:center;	
	&__title{

	}
	&___text{
			background-size: cover;	
		p{
			font-size: 50px;
		}
	}
}
.info{
	padding-top: 3em;
	height: 26rem;
	background-color: @bg-color;
	text-align: center;
	&-comp{
		h3{
			font-size: 2.3rem;
			padding-bottom: 1rem;

			display: block;
			float:right;
		}
		p{
			text-align: right;
		}
	}
	&-dost{
		h3{
			font-size: 2.3rem;
			padding-bottom: 1rem;
			display: block;
			float:left
		}
		p{
			text-align: left;

		}
	}



}
.accordion{
	button{
		background-color:#02061D;
		color: #FFF;
		text-align: center;
	}
	&-button:not(.collapsed) {
	background-color:#02061D !important;
	color: #FFF !important;
	}
	&-body{
		background-color:#02061D;

	}
}


/*Страница роллов*/

.menunav{
	background-color:@bg-color;
	&-cont{
		height: 3.7rem;
		border-top:1px solid @nav-color;
		border-bottom:1px solid @nav-color;
		nav{
			padding-top: 0.8em;
			a{

			color:@nav-color;
			text-decoration: none;
			border-bottom: 1px solid @nav-color;
			margin-right: 1.5rem;
			}		
		}

		button{
			margin-top: 0.3em;
			background: transparent	;	 
			border:1px solid @icon-color;
			border-radius: 100rem;	
			height: 3rem;
			width: 3rem;


			i{
				font-size: 1.5rem;
				color:#D6E8FF;
			}

		}	
	}
}

.menu{
	padding: 0.8rem 0;
	background-color: @bg-color	;
	&__mininav{

		padding-top: 1rem;
		height: 4rem;
		a{
			text-decoration: none;
			border-bottom: 1px solid #FF8739;
			color: #FF8739;
			margin-right:1.2rem;
		}
	}
	&__title{
		text-align: center;
		padding-bottom: 2rem;
	}
	&__item{
		position: relative;
		margin: 0 auto;
		text-align: center;
		border-radius: 0.95em;
		width: 344px ;
		height: 455px;
		background-color:transparent;
		border: 1px solid #4B4F56;
		margin-bottom: 1.5rem;
		img{
			border-radius: 0.95em;
			width: 344px;
			margin-bottom: 0.5rem;
		}

		h4{
			font-size: 23px;
			font-weight: 400;
			text-align: center;
			color: @h-color;
		}
		p{
			font-weight: 300;
			color: @p-color;
			font-size: 15px;
			line-height: 1.2;

		}
		.menu__footer{
			position: absolute;
			bottom:10px;
			padding:0 10px;
	   		span{
	   			color: #E1E8F2;
	   			display: inline-block;
	   		}
	   		.weight{
	   			color: #E1E8F2;
	   			font-size: 15px;

	   		}
	   		.price{
	   			color: #E1E8F2;
	   			text-align: center ;
	   			font-size: 24px;
	   			margin-right: 21px;
	   			display: inline-block;
	   			span.r{
	   				font-size: 24px;

	   			}
	   		}
	   		button{
	   			height: 36px;
	   			width: 20rem;
	   			background: transparent;
	   			border:2px solid @btn-color;
	   			border-radius: 0.8rem;
	   			color: #E1E8F2;
	   			text-align: center;
	   			display: block;
	   			margin: 0 auto;
	   		}
	   		button:hover{
	   			border: none;
	   			background: @btn-color;


	   		}
		}
	}

}
.footer{
 	background-color:#00041B;
 	height: 4rem;
 	color: #fff;
 	&__name{

 		h6{
 			color: #AFAFAF;

 			padding-top: 8px;
 			font-weight: 300;

 		}
		span{
			color: #AFAFAF;

			display: inline-block;
			font-weight: 300;


		}
 	}
 	&__tel{
 		text-align: center;
 		a{
 			color: #AFAFAF;
 			padding-top: 0.6rem;
 			display: block;
 			font-size: 1.2rem;
 			text-decoration: none;

 		}
 		span{
 			color:#FF8739;
 		}

 	}
 }
@media(max-width:992px){
	.header{
		&-content{
			&__carticon{
				img{
					margin:0;
				}	
			}
			&__nav{
			nav{
				padding-left: 0rem;

			}
		}
		}
	}


}
@media(max-width:800px){
	.header{
		&-content{
			&__find{
				display: none;
			}
			&__carticon{
				img{
					margin:0;
				}
				
			}
		}
	}
}
@media(min-width:768px){
	.accordion{
		display: none;
	}
}
@media(max-width:768px){
	.header{
		&-content{
			&__carticon{
				display: none;
				
			}
		}
	}
	.main{
		&__text{
			h1{
				font-size: 2.5rem;
				margin-top: 1rem;
			}
			p{

			}
		}
	}
	.info{
		display: none;
		
	}
}
@media(min-width:576px){
	.header-carticon{
		display: none;
	}
	
}

@media(max-width:576px){
	.header{
		position: relative;	
		&-content{
			&__phone{
				display: none;
			}
			&__nav{
				display: none;
			}
			&__logo{
				position: absolute;	
				left: 25%;	
		 	}
		 	.header-carticon{
		 		position:absolute;	
		 		right: 3%;	

		 	}
		}
	}
	.main{
		height:25em;
		&__text{
			text-align: center;
			h1{
				font-size: 2rem;
			}
			p{

			}
		}
		&__list{
			margin-top: 0 !important;
			&-item{
				margin-bottom: 1rem;
				br{
					display: none;
				}
			}
		}
	}
	.categories{
		padding-bottom: 1rem;
		&__title{
			margin-top: 1.5rem !important;
			margin-bottom: 0.5rem !important;
		}
		&__item{
			height: 9rem;
			margin-bottom: 1rem;
		}
	}
	.menunav{
		&-nav{

			nav{
				text-align: center;
				padding-top: 4px;
				a{
					margin-right: 10px;
				}
			}
		}
		&-carticon{
			display: none;
		}
	}
	.menu{
		&__mininav{
			padding-top:0;
			height: 2rem;
			margin-bottom: 1rem;
			nav{
				a{
					margin-right: 10px;
				}
			}	
		}	
		&__item{
			margin-bottom: 3rem;
			height: 500px;
			width: 100%;
			border-right:0px;
			border-top: 0px;
			border-left:0px;
			border-radius:0;
			border-bottom: 2px dashed  #4B4F56 ;


		}
		.menu__footer{
			padding: 0 auto;
			bottom: 50px;
			left:50%;
			transform:translate( -50%);
			.price{
				margin-right: 35px;
			}


		}
	}
}
@media(max-width:365px){
	.menu{
		&__mininav{
			a{
				font-size: 15px;
			}
		}
		&__item{
			img{
				width: 295px;
			}
			.menu__footer{
				padding: 0;
				button{
					width: 16rem;
				}
			}
		}
	}
	.menunav{
		nav{
			a{
				font-size: 15px;
			}
		}
	}


}