*{

}
body{
	background-color:#626365;
}
.header{
	height: 4.5rem;
	background:#0A0A13;
	&-content{
			
		button{
			background:#E13A1D; 
			border:none;
		}
		&__logo{
			img{
				padding-top: 0.5rem;
				width:9rem;
			}		
		}
		&__nav{
			nav{
				display: inline-block;	
			}
		}
		&__phone{
			a{
				display:block;
			}
		}
	}
}
.main{
	height:22em;
	background:red;
	justify-content: center;
	display: flex;
	align-items:center;
	&-text{

	}
	&-list{

	}
}
.categories{
	text-align: center;
	background-color: green;
	&__title{
		text-align: center;
	}
	&__item{ 
		display: inline ;
		color:white;
		margin-bottom: 5rem;
		background-color: blue;
		height: 10rem;
		width: 15rem !important;
	}
}
.motivac{
	height: 20em;
	background-color: pink;
	justify-content: center;
	display: flex;
	align-items:center;	
	&__title{

	}
	&___text{
		p{
			font-size: 50px;
		}
	}
}
.footer{
	background-color:#471803;
	height: 5em;
	h3{
		padding-top: 1rem;
		text-align: center;
		color:#fff;
	}
}